<!doctype html>

<html lang="en">
  <head>
  <title>This is the title of the webpage!</title>
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!--<script src="http://d3js.org/topojson.v1.min.js"></script>-->
  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  	<!--d3 Import -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- map -->
  <!-- https://bl.ocks.org/mbostock/4206573-->
  <!-- http://duspviz.mit.edu/d3-workshop/mapping-data-with-d3/ -->
  <!-- https://bl.ocks.org/JulienAssouline/1ae3480c5277e2eecd34b71515783d6f -->
    <script type="text/javascript" src="static/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="utf-8">
  </head>
  <body>

<div class="container-flud">

    <!--https://getbootstrap.com/docs/4.0/components/buttons/-->

 <div class="btn-group btn-group-lg" role="group" aria-label="...">
    <a class="btn btn-primary" href="/" role="button">
        Explore
    </a>
    <a class="btn btn-primary" href="/compare/all/all" role="button">
        Compare
    </a>
    <a class="btn btn-primary" href="/analysis" role="button">
        Analysis
    </a>
  </div>
    <!--https://observablehq.com/@d3/u-s-state-capitals-->
    <!--http://bl.ocks.org/stevenae/8362841-->
  </body>
    <!--<script type="text/javascript" src="/static/js/index.js"></script>-->
    <!--<script type="text/javascript">
        console.log("and the current time is:", Date.now());
        //drawMap({{ data }} {{ json|tojson }} );
        drawMap({{ json|tojson }} );
    </script>-->
    <!-- https://www.d3-graph-gallery.com/graph/choropleth_basic.html -->
    <!--<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script> -->

    <!-- Create an element where the map will take place -->
    <!--<svg id="choropleth" width="400" height="300"></svg>-->
    <!-- http://duspviz.mit.edu/d3-workshop/mapping-data-with-d3/ -->
    <script src="data/boston_neighborhoods.json"></script>
    <script>
        // Width and Height of the whole visualization
        var width = 700;
        var height = 580;

        // Create SVG
        var svg = d3.select( "body" )
          .append( "svg" )
          .attr( "width", width )
          .attr( "height", height );

        // Append empty placeholder g element to the SVG
        // g will contain geometry elements
        var g = svg.append( "g" );

        // Width and Height of the whole visualization
        // Set Projection Parameters
        var albersProjection = d3.geoAlbers()
            .scale( 190000 )
            .rotate( [71.057,0] )
            .center( [0, 42.313] )
            .translate( [width/2,height/2] );

        // Create GeoPath function that uses built-in D3 functionality to turn
        // lat/lon coordinates into screen coordinates
        var geoPath = d3.geoPath()
            .projection( albersProjection );

            // Classic D3... Select non-existent elements, bind the data, append the elements, and apply attributes
        g.selectAll( "path" )
            .data( neighborhoods_json.features )
            .enter()
            .append( "path" )
            .attr( "fill", "#ccc" )
            .attr( "stroke", "#333")
            .attr( "d", geoPath );

    </script>




                <!-- samples
  <script type="text/javascript" src="static/js/barDemo.js"></script>
  <script type="text/javascript" src="static/js/scatterDemo.js"></script>
  -->

</html>
